/* styles.css */

/*CSS Reset*/
nav, main, footer {
    margin: 0;
    padding: 0;
    border: 0;
}

/* style rules for the nav */
/* laptop view */
nav {
    background-color: blue;
}

nav ul {
    list-style-type: none;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    overflow: hidden;
    
    margin: 0;
    
    background-color: blue;
    padding: 1em;
    margin-right: 20px;
    display: inline;
}

nav ul li {
    display: block;
    float: right;
    padding: 0.8em 0.9em;
    background-color: green;
    border-radius: 0.6em;
    margin: 0.4em;
    box-shadow: 7em;
}

/*Style rules for Main*/
main {
    background-color: #fff9ed;
    text-align: center;
}

img {
    max-width: 100%;
    display: block;
}

body {
    font-family: Jost;
    font-size: 1em;
}

/*Style rules for Footer*/
footer {
    background-color: #286855;
}

footer p .copyright {
    font-size: 0.75em;
    text-align: center;
    color: #FFF9ED;
    width: 75%;
}

footer {
    
}
