/* styles.css */

/* style rules for the nav */
nav {
    background-color: blue;
}

nav ul {
    list-style-type: none;
}

main {
    background-color: #fff9ed;
    text-align: center;   
}

/*Style rules for Footer*/
footer {
    background-color: #286855;
}