/* styles.css */

/*CSS Reset*/
nav, main, footer {
    margin: 0;
    padding: 0;
    border: 0;
}

/* style rules for the nav */
nav {
    background-color: blue;
}

nav ul {
    list-style-type: none;
}

main {
    background-color: #fff9ed;
    text-align: center;   
}

/*Style rules for Footer*/
footer {
    background-color: #286855;
}

footer p .copyright {
    font-size: 0.75em;
    text-align: center;
    color: #FFF9ED;
    width: 75%;
}

footer 